/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-sibody {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: :fullscreen;
} */
body {

	animation: gradient 15s ease infinite;
	/* height: 200vh; */
	background: #017270;
/* background: linear-gradient(90deg,  #072227 0%, #35858B 100%); */
	
}
.tophead{
    font-family: gabriola;
    color: #c1b7b7 !important;
    text-transform: uppercase;
    letter-spacing: 4px;
	position: relative;
}
.tophead::before {
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    background: #c1b7b7;
    left: 0;
    bottom: 0;
}
a.btn:hover {
    background: #111;
    color: #fff;
}
.tophead1{
    font-family: gabriola;
    color: #eee !important;
    text-transform: uppercase;
    letter-spacing: 4px;
	position: relative;
}
}
